.beat-dots {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
}

.beat-dot {
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: var(--color-text-dim);
  transition: all 0.1s ease;
  flex-shrink: 0;
}

.beat-dot.active {
  background-color: var(--color-secondary);
  box-shadow: 0 0 12px var(--color-secondary);
  transform: scale(1.2);
}

.beat-dot:first-child {
  /* background-color: var(--color-warning); */
}

.beat-dot:first-child.active {
  background-color: var(--color-warning);
  box-shadow: 0 0 12px var(--color-warning);
}
